<h1>New books</h1>

<% form_for(@book) do |f| %>
  <%= f.error_messages %>

  <p> verlag 
    <%= f.collection_select :publisher, @publishers, :id, :name %>
  </p>

  <p> autor 
  <%= select( "author", "id",  @authors_list ) %> 
  </p>
  
  <p> genre 
  <%= select( "genres", "id",  @genres_list ) %> 
  </p>
  <p> rubrik 
  <%= select( "types", "id",  @types_list ) %> 
  </p>
  <p> titel 
  <%= f.text_field :title %>
  </p>
  <p> isbn 10 
  <%= f.text_field :isbn10 %>
  </p>
  <p> bestellnummer 
  <%= f.text_field :order_no %>
  </p>
  <p> jahr 
  <%= f.text_field :date %>
  </p>
  <p> auflage 
  <%= f.text_field :edition %>
  </p>
  <p> auflagejahr 
  <%= f.text_field :year_of_edition %>
  </p>

  <p> originaltitel 
  <%= f.text_field :original_title %>
  </p>
  <p> sprache 
  <%= f.text_field :language %>
  </p>
  <p> originalsprache 
  <%= f.text_field :original_language %>
  </p>
  <p> seiten 
  <%= f.text_field :pages %>
  </p>
  <p> nummer 
  <%= f.text_field :number %>
  </p>


  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', books_path %>
